:root {
	--primary:#b6895b;
	--bg:#010101;

};
html{
	scroll-behavior: smooth;
}
*{
	
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	outline: none;
	border: none;
	text-decoration: none;
}

body{
	font-family: 'poppins',sans-serif;
	background-color: var(--bg);
	color:#fff;
	min-height: 3000px;
}
/*navbar*/

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 7%;
	background-color: rgba(1,1,1,0.8);
	border-bottom: 1px solid #fff;
	position: fixed;
	top:0;
	left:0;
	right: 0;
	z-index: 9999;

}

.navbar .navbar-logo{
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	font-style: italic;
	border-bottom: 0px;
}
.navbar .navbar-logo span{
	color: var(--primary);
}

.navbar .navbar-nav a{
	color:#fff;
	display: inline-block;
	font-size:1rem;
	margin: 10px; 
}
.navbar .navbar-nav a:hover {
	color: var(--primary);
}
.navbar .navbar-extra a{
	color: var(--primary);
	margin: 5px; 
}
.navbar .navbar-extra a:hover{
	color: #fff;
	margin: 5px; 
}
#hamburger-menu{
	display: none;
}
.hero{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: url('img/kopi.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}
.hero::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	background :linear-gradient(0deg,rgba(1,1,3,1) 8%, rgba(255,255,255,0)35%);

}
.hero .content .beli{
	margin-top: 1rem;
	display: inline-block;
	padding: 1rem 3rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: var(--primary);
	border-radius: 0.5rem;
	box-shadow: 

}
.content h1{
	font-size: 30px;
	margin-left: 20px;
	font-color:#fff; 
}
.content span{
	font-size: 30px;
	color:var(--primary); 
}
.content h5{
	font-size: 15px;
	margin-left: 20px;
	font-color:#fff;
	font-style: italic; 
}
.about{
	padding: 6rem 7% 4rem;
	font-size: 20px;
}
.about span{
	color: var(--primary);
	font-size: 30px;
}

.about .row{
	display: flex;
}
.about .row .about-img{
flex: 1 1 45rem;
	}
.about .row .about-img img{
width: 100%
	}

.about .row .content h3{
	margin-top: 0rem;
	margin-left: 10rem;
}
.about .row .content{
	flex: 1 1 45rem;
	padding: 0.5rem 3%;
	font-size: 17px;
}
.menu h3 span, .contac span{
	color: var(--primary);
	font-size: 30px;
}
.menu h4, .contac{
	text-align: center;

}
.menu h3, .contac{
	margin-bottom: 1rem;
	font-size: 30px;
	padding-top: 6rem;
	color: #fff;
}
.menu p{
	text-align: center;
	max-width: 30rem;
	
}
.menu .row{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5rem;
	justify-content: center;
}
.menu.row .menu-card{
	text-align: center;

}
.menu .row .menu-card img{
 border-radius: 60%;
 width:200px;
 height: 200px;

}
.menu .row .menu-card .menu-card-title{

	margin: 2rem auto 2rem;
}
.contac h4{
	font-size: 20px;
	padding-left: 30px;

}
.contac .row{
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
	margin-top: 2rem;
	background-color: #222;

}
.contac .row .maps{
	flex: 1 1 45rem;
	width: 100%;
	object-fit: cover;


}
.contac .row .contac-kopi h4{
	font-size: 20px;
	
	text-align: center;
}
.contac .row .contac-kopi {
	display: inline-block;
	font-size: 15px;
	
	text-align: center;
}
.footer{
	background-color: var(--primary);
	padding: 0.5rem;
	text-align: center;
	margin-top: 3rem;
	flex: 1 1 65rem;

}


/* Media queries*/
@media(max-width: 1366px){
	html{
		font-size: 75%;
	}
}
@media(max-width: 758px){
	html{
		font-size: 62.5%;
	}

	#hamburger-menu{
		display: inline-block;
	}
	.navbar .navbar-nav{
	position: absolute;
	top: 100%;
	right: -100%;
	background-color: #fff;
	width: 30rem;
	height: 100vh;
	transition: 0.3s;

	}
	.navbar .navbar-nav.active {
	right: 0;
	}
	.navbar .navbar-nav a{
		color: var(--bg);
		display: block;
		margin: 1.5rem;
		padding: 0.5rem;
		font-size: 2rem;
	}
	.about .row{
flex-wrap: wrap; 
	}
	.contac .row{
flex-wrap: wrap; 

	}
}
@media(max-width: 450px){
	html{
		font-size: 55%;
	}



	
}



